<header>
  <img src="/game-logo.png" alt="Hand-drawn tic tac toe board"/>
  <h1>Angular Tic-Tac-Toe</h1>
</header>

<main>
  <div id="game-container">
    <ol id="players" class="highlight-player">
      <li [ngClass]="{active: activePlayer() === PlayerSymbol.X}">
        <app-player
                [symbol]="PlayerSymbol.X"
                [name]="players().X"
                (nameChanged)="onPlayerNameChanged(PlayerSymbol.X, $event)"
        ></app-player>
      </li>

      <li [ngClass]="{active: activePlayer() === PlayerSymbol.O}">
        <app-player
                [symbol]="PlayerSymbol.O"
                [name]="players().O"
                (nameChanged)="onPlayerNameChanged(PlayerSymbol.O, $event)"
        ></app-player>
      </li>
    </ol>

    @if (winner() || isDraw()) {
      <app-game-over [winner]="winnerName()" (onRematch)="startNewGame()"></app-game-over>
    }

    <app-game-board [gameBoard]="gameBoard()" (squareSelected)="onSquareSelected($event)"></app-game-board>
  </div>

  <app-log [gameTurns]="gameTurns()"></app-log>
</main>
